@font-face {
  font-family: "Releway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Roboto-bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.ttf);
}
:root {
  --logoFont: "Releway";
  --mainFont: "Roboto-regular";
  --titleFont: "Roboto-bold";
  --subtitleFont: "Roboto-medium";
  --acentColor: #2196f3;
  --mainColor: #757575;
  --titleColor: #212121;
  --mainTitleColor: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
img{
  display: block;
  max-width: 100%;
  height: auto
}
body {
  background-color: var(--mainTitleColor);
  color: var(--mainColor);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  width: 200px;
  height: 50px;
  background: var(--acentColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--titleFont);
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--mainTitleColor);
}

.title {
  font-family: var(--titleFont);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 94px;
  margin-bottom: 50px;
}

.hidden {
  visibility: hidden;
  position: absolute;
}
/* header  */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.header__icon {
  margin-right: 10px;
}

.logo {
  font-family: var(--logoFont);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acentColor);
}
.logo__text {
  color: var(--titleColor);
}

/* nav */

.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__item--acent {
  position: relative;
}
.nav__link {
  font-family: var(--subtitleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titleColor);
}
.nav__link--acent::after {
  display: block;
  content: "";
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: var(--acentColor);
  position: absolute;
  left: 0px;
  top: 45px;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--acentColor);
  cursor: pointer;
}

/* header__list */
.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  font-family: var(--subtitleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mainColor);
}

.header__link:hover,
.header__link:focus {
  color: var(--acentColor);
  fill: var(--acentColor);
  cursor: pointer;
}

.wrap {
  max-width: 1600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* main */
/* hero */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
}
.hero__title {
  font-family: var(--logoFont);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--mainTitleColor);
  margin-bottom: 30px;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* peculiarities */
.peculiarities {
  margin-top: 94px;
}
.peculiarities__list {
  display: flex;
}

.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}
.peculiarities__image {
  background: #f5f4fa;
  border-radius: 4px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.peculiarities__title {
  font-family: var(--titleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titleColor);
  margin-bottom: 10px;
}
.peculiarities__text {
  font-family: var(--mainFont);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mainColor);
}

/* work */

.work__list {
  display: flex;
}
.work__item:not(:last-child){
  margin-right: 30px;
}
.work__figure{
  position: relative;
}
.work__text {
  font-family: var(--titleFont);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mainTitleColor);
  position: absolute;
  display: block;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0px;
  bottom: 0px;
  }


/* team */
.team{
      background: #F5F4FA;
      padding-top: 94px;
      padding-bottom: 94px;
      max-width: 1600px;
      margin-top: 94px;
      display: block;
      margin-left: auto;
      margin-right: auto;

}
.team__title{
  margin-top: 0px;
}
.team__list {
  display: flex;
}
.team__item{
      width: 270px;
      height: 428px;
      padding-bottom: 30px;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
      0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
      border-radius: 0px 0px 4px 4px;
      }
.team__item:not(:last-child){
  margin-right: 30px;
}
.team__short-title {
  font-family: var(--subtitleFont);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  font-weight: 500; 
  /* НЕ ПОЙМУ ПОЧЕМУ ОТВАЛИЛОСЬ */
}
.team__text {
  font-family: var(--mainFont);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mainColor);
  margin-top: 10px;
}
.social-list{
  margin-top: 16px;
  display: flex;
  justify-content: center;
  
}
.social-list__item:not(:last-child){
  margin-right: 10px;
}
.social-list__link{
  width: 44px;
  height: 44px;;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  }
  .social-list__link--gray{
    background-color: rgba(255, 255, 255, 0.1);;
  }
  .social-list__link:hover{
    background-color: #2196f3;
    color: #FFFFFF;
  }
  .social-list__icon{
    fill: currentColor;
  }
.social-list__icon--wite{
  fill: #FFFFFF;
}
/* Regular customers */
/* .clients{
  margin-bottom: 94px;
} */
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}
.clients__link:hover,
.clients__link:focus {
  color: var(--acentColor);
  cursor: pointer;
  border: 1px solid var(--acentColor);
}
.clients__image {
  fill: currentColor;
}

/* footer */
/* footer */
.footer{
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 94px;
}
.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer__logo{
  margin-bottom: 50px;
}
.logo__text--white{color: var(--mainTitleColor);}

.footer__adrress{
  margin-top: 20px;
}
.address__item:not(:last-child){
  margin-bottom: 9px;
}
.address__link {
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71; 
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address__link--white {
  color: var(--mainTitleColor);
  
}

/* block-join */
.block-join__title {
  font-family: var(--titleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mainTitleColor);
}
.block-join__social-list{
  margin-top: 20px;
}

/* block-subscribe */
.block-subscribe__title {
  font-family: var(--titleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mainTitleColor);
}
.wrap-form{
  display: flex;
  margin-top: 20px;
}
.form__input{
  background-color: #2F303A;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-family: var(--mainFont);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
}
.block-subscribe__button{
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  padding-left: 29px;
}
.block-subscribe__icon{
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #FFFFFF;
}




/*  */
/*  */
/* portfolio */

/* header */
/* portfolio-header */
.header--line-gray{
  border-bottom: 1px solid #ECECEC;;
}
.portfolio-nav__list {
  display: flex;
}
.portfolio-nav__item--acent {
  position: relative;
}
.portfolio-nav__item:not(:last-child) {
  margin-right: 50px;
}
.portfolio-nav__link--acent::after {
  display: block;
  content: "";
  border-radius: 2px;
  width: 78px;
  height: 4px;
  background-color: var(--acentColor);
  position: absolute;
  left: 0px;
  top: 45px;
}

/* button-set */
.button-set{
  margin-top: 94px;
}
.button-set__list{
  display: flex;
  justify-content: center;
}
.button-set__item:not(:last-child){
  margin-right: 8px;
}
.button-set__button {
  background: #F5F4FA;
  border-radius: 4px;
  border: currentColor;
  padding: 6px 22px;
}
.button-set__button:hover .button-set__text,
.button-set__button:focus .button-set__text
{
  color: #FFFFFF;
}
.button-set__button:hover,
.button-set__button:focus{
  background-color: #2196f3;
  cursor: pointer;
}

.button-set__text {
  font-family: var(--subtitleFont);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titleColor);
}

/* card-set */
.card-set{
  margin-top: 50px;
}
.card-set__list{
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.card-set__item{
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding-bottom: 20px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}
.card-set__item:not(:nth-child(3n)){
  margin-right: 30px;
}
.card-set__item:hover{
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-set__item:hover .card-set__content{
  opacity: 1;
  transition-property: opacity;
  transition-duration:1.5s;
  
}
.card-set__image{
position: relative;
}
.card-set__content{
  font-family: var(--mainFont);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 63px 24px;
  overflow: hidden;
  opacity: 0;
  transition-property: opacity;
  transition-duration:1.5s
}
.card-set__title {
  font-family: var(--titleFont);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titleColor);
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.card-set__text {
  font-family: var(--mainFont);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--mainColor);
  margin-left: 24px
}

/* popup */
.backdrop{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal__title{
  font-family: var(--titleFont);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--titleColor);
}
.modal__label{
  font-family: var(--mainFont);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--mainColor);
  margin-bottom: 4px;
}
.modal__input{
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  background: url(../images/sprite.svg#icon-astronaut) no-repeat;
  background-position: 0 50%;
  background-size: 18px 18px;
}
.modal__input:hover,
.modal__input:focus{
  outline-color: var(--acentColor);
  cursor: pointer;
  border-color: var(--acentColor);
}
.modal__textarea{
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  overflow: hidden;
  margin-top: 4px;
  padding: 16px 12px;
  font-family: var(--mainFont);
  ;
}
.modal__textarea::placeholder{
  font-family: var(--mainFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5)
}
.modal__checkbox{
  width: 16px;
  height: 15px;
  
}
.modal__link{
  color: var(--acentColor);
  text-decoration: underline;
  cursor: pointer;
}