@font-face {
  font-family: "Releway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Roboto-bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.ttf);
}
:root {
  --logoFont: "Releway";
  --mainFont: "Roboto-regular";
  --titleFont: "Roboto-bold";
  --subtitleFont: "Roboto-medium";
  --acentColor: #2196f3;
  --mainColor: #757575;
  --titleColor: #212121;
  --mainTitleColor: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: var(--mainTitleColor);
  color: var(--mainColor);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  width: 200px;
  height: 50px;
  background: var(--acentColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--titleFont);
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--mainTitleColor);
}

.title {
  font-family: var(--titleFont);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.hidden {
  visibility: hidden;
  position: absolute;
}
/* header  */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.header__icon {
  margin-right: 10px;
}

.logo {
  font-family: var(--logoFont);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acentColor);
}
.logo__text {
  color: var(--titleColor);
}

/* nav */

.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__item--acent {
  position: relative;
}
.nav__link {
  font-family: var(--subtitleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titleColor);
}
.nav__link--acent::after {
  display: block;
  content: "";
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: var(--acentColor);
  position: absolute;
  left: 0px;
  top: 45px;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--acentColor);
  cursor: pointer;
}

/* header__list */
.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  font-family: var(--subtitleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mainColor);
}

.header__link:hover,
.header__link:focus {
  color: var(--acentColor);
  fill: var(--acentColor);
  cursor: pointer;
}

.wrap {
  max-width: 1600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* main */
/* hero */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__title {
  font-family: var(--logoFont);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--mainTitleColor);
  margin-bottom: 30px;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* peculiarities */
.peculiarities {
  margin-top: 30px;
}
.peculiarities__list {
  display: flex;
}

.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}
.peculiarities__image {
  background: #f5f4fa;
  border-radius: 4px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.peculiarities__title {
  font-family: var(--titleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titleColor);
  margin-bottom: 10px;
}
.peculiarities__text {
  font-family: var(--mainFont);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mainColor);
}

/* work */

.work__list {
  display: flex;
}
.work__text {
  font-family: var(--titleFont);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mainTitleColor);
  background-color: black;
}

/* team */
.team__list {
  display: flex;
}
.team__short-title {
  font-family: var(--subtitleFont);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__text {
  font-family: var(--mainFont);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mainColor);
  background-color: black;
}
/* .team__link {
  width: 44px;
  height: 44px;
} */
.team__tumb {
  fill: #2196f3;
}
/* Regular customers */
.clients__list {
  display: flex;
  justify-content: space-between;
}
/* .clients__tumb {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
} */

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}
.clients__link:hover,
.clients__link:focus {
  color: var(--acentColor);
  cursor: pointer;
  border: 1px solid var(--acentColor);
}
.clients__image {
  fill: currentColor;
}

/* footer */
/* footer */
.address__link {
  font-family: var(--mainFont);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: black;
}
.address__link--white {
  color: var(--mainTitleColor);
  background-color: black;
}

/* block-join */
.block-join__title {
  font-family: var(--titleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mainTitleColor);
  background-color: black;
}

/* block-subscribe */
.block-subscribe__title {
  font-family: var(--titleFont);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mainTitleColor);
  background-color: black;
}

/*  */
/*  */
/* portfolio */

/* header */
/* portfolio-header */
.portfolio-nav__list {
  display: flex;
}
.portfolio-nav__item--acent {
  position: relative;
}
.portfolio-nav__item:not(:last-child) {
  margin-right: 50px;
}
.portfolio-nav__link--acent::after {
  display: block;
  content: "";
  border-radius: 2px;
  width: 78px;
  height: 4px;
  background-color: var(--acentColor);
  position: absolute;
  left: 0px;
  top: 45px;
}

/* button-set */
.button-set__button {
  background: var(--acentColor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-set__text {
  font-family: var(--subtitleFont);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mainTitleColor);
}

/* card-set */
.card-set__title {
  font-family: var(--titleFont);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titleColor);
}

.card-set__text {
  font-family: var(--mainFont);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--mainColor);
}
